# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [20]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo= pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
print('there is %i observations in the dataset chipo' % len(chipo))

there is 4622 observations in the dataset chipo

In [6]:
# Solution 2
print('there is %i observations in the dataset chipo' % chipo.shape[0])

there is 4622 observations in the dataset chipo

### Step 6. What is the number of columns in the dataset?

In [8]:
print('there is %i observations in the dataset chipo' % chipo.shape[1])

there is 5 observations in the dataset chipo

### Step 7. Print the name of all the columns.

In [9]:
print('Names of columns:\n')
for column in chipo.columns:
    print(column)

Names of columns:

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [51]:
chipo['item_name'].value_counts().index.tolist()[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [49]:
chipo['item_name'].value_counts()[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [79]:
chipo['choice_description'].value_counts().index.tolist()[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [61]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [88]:
type(chipo['item_price'][0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [108]:
# def lambda_function(type_var):
#     list(type_var)[0].replace('$', '')
#     print(list(type_var)[0])
#     return float(type_var)
# for price in chipo['item_price']:
#     lambda_function(price)
chipo['item_price']=chipo['item-price'].apply(lambda p: float(p.strip()[1:]))

KeyError: 'item-price'

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
total_revenue=(chipo['quantity']* chipo['item_price']).sum()
print(total_revenue)

### Step 15. How many orders were made in the period?

In [114]:
nb_order=chipo['order_id'].nunique()
print(nb_order)

1834

### Step 16. What is the average revenue amount per order?

In [115]:
# Solution 1
total_revenue / nb_order

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [4]:
# Solution 2

byId=chipo.groupby('order_id').sum()
print(byId)
byId.mean()

### Step 17. How many different items are sold?

In [ ]:
chipo['item_name'].nunique()